.app {
  text-align: center;
}

.background{
  position: relative;
  overflow: auto;
  height: 100%;
  width: 100%;
  background-color: rgb(252, 217, 204);
}

button{
  background-color: #8C030E;
}
/* @media only screen and (max-width: 600px){


} */